<div>
	<h3>Welcome</h3>
</div>	

<form action="/login" method="post">

	<fieldset>

		<p><input type="text" name="user_name" placeholder="Enter your username"></p>
	
		<p><input type="password" name="password" placeholder="Enter your password"></p>

		<p><input class="button" type="submit" value="Log in"></p>

	</fieldset>

</form>


