
<h3>CREATE AN ACCOUNT</h3>

<form method="post" action="/register">

	<fieldset>
		<p><input type="text" name="full_name" placeholder="Full Name"></p>


		<p><input type="text" name="user_name" placeholder="Username"></p>


		<p><input type="text" name="email" placeholder="Email address"></p>


		<p><input type="password" name="password" placeholder="Enter your password"></p>


		<p><input class= "button" type="submit" value="Register"></p>

	</fieldset>

</form>