<h3>REGISTER</h3>

<form method="post" action="/register">

<div>
	<input type="text" name="full_name" placeholder="Full Name">
</div>

<div>
	<input type="text" name="user_name" placeholder="Username">
</div>

<div>
	<input type="text" name="email" placeholder="Email address">
</div>

<div>
	<input type="password" name="password" placeholder="Enter your password">
</div>

<input type="submit" value="Register">

</form>